@model MvcMovie.Models.Formulario

@{
    ViewData["Title"] = "Details";
}

<h2>
    Detalles
    <small class="text-muted">de formularios procesados</small>
    </h2>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Detalles de formularios procesados</li>
</ol>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Campana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Campana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado)
        </dd>        
    </dl>
</div>
            <div class="form-group">

                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model?.Id">Editar</a></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-action="Index">Regresar  </a></li>

                </ol>
            </div>  
